<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>

<a href="/add">Add Link</a>

<table border="2">
    <tr align="center">
        <th>Title</th>
        <th>Date Submitted</th>
        <th>Submitted By</th>
        <th>Options</th>
    </tr>

    <tr th:each="link: ${links}" align="center">
        <td>
            <a th:href="@{'//'+${link.url}}" target="_blank" th:text="${link.title}"></a>
        </td>
        <td th:text="${link.date}"></td>
        <td th:text="${link.submittedBy}"></td>
        <td>
            <a th:href="@{/update/{id}(id=${link.id})}">Update</a>
            <a th:href="@{/detail/{id}(id=${link.id})}">Details</a>
            <a th:href="@{/delete/{id}(id=${link.id})}">Delete</a>
        </td>
    </tr>
</table>

</body>
</html>